body {
  background-color: coral;
  margin: 0;
}
.Header-div {
  height: 250px;
  display: flex;
  background-color: #205395ea;
}
.top-header {
  margin: auto;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
}
.search-part2 {
  text-align: center;
}
.search-part {
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}
.input-box {
  width: 250px;
  height: 30px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 50px;
}
.whole-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: auto;
}
.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  margin: 1%;
  background-color: #f55050;
  border-radius: 8px;
}

.post-card:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 768px) {
  .post-card {
    width: 48%;
  }
}
